/* .back {
	text-transform: uppercase;
	font-size: 164px;
	background: url("https://images.unsplash.com/photo-1507880572231-f85401ce76e6?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ")
		top !important;
    background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent !important;
} */
.back {
    color: white !important;
    opacity: 1 !important;
}