.contactImg {
    background-position: 50%;
    height: 300px;
    background-image: url("../../assets/images/stock.jpeg");
}
.blocker {
    box-shadow: 5px 5px 10px black;
}
/* backdrop-filter: blur(30px); */